modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["resend:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38425
externalPort = 3000

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyB73bZRKxOv2SpzHQk0-NOG4dtoAXjOo7E"
VITE_FIREBASE_PROJECT_ID = "odhya-e7cca"
VITE_FIREBASE_APP_ID = "1:377136777872:web:e768a6c9672ec05293e615"
VITE_IMGBB_API_KEY = "f30a25e224eb3837f4a52429f09abe11"
SMTP_HOST = "mail.odhiyaty.com"
SMTP_PORT = "465"
SMTP_USER = "verification@odhiyaty.com"
SMTP_PASSWORD = "silo@salah55"
SMTP_FROM_EMAIL = "verification@odhiyaty.com"
RESEND_API_KEY = "re_8NuUrKwr_DLYT1fzS2mTNkysve4vVTnuS"

[deployment]
deploymentTarget = "autoscale"
publicDir = "dist/public"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[deployment.rewrites]]
source = "/(.*)"
destination = "/index.html"
