modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "--import=tsx", "server/index-prod.ts"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VITE_FIREBASE_PROJECT_ID = "odhya-e7cca"
VITE_FIREBASE_API_KEY = "AIzaSyB73bZRKxOv2SpzHQk0-NOG4dtoAXjOo7E"
